* {
    padding: 0;
    margin: 0;
}


body {
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}
.game-area {
    position: relative;
    background: rgb(61,160,244);
    background: linear-gradient(0deg,rgba(61,160,244,1) 0%,
    rgba(192,221,246,1) 33%,
    rgba(55,157,244,1) 100%);
    width: 100%;
    height: 93vh;
    margin: 0;
}
.game-start {
    position: absolute;
    width: 30%;
    background-color: rgb(235, 253, 153);
    border-radius: 30px;
    top: 100px;
    left: 35%;
    z-index: 1;
    text-align: center;
    padding: 30px;
}
.game-score {
    background-color: black;
    color: white;
    text-align: center;
}

.wizard {
    z-index: 100;
    position: absolute;
    background-image: url(../images/EXPORTED_chibi_Sasuke_Default.png);
    background-size: cover;
    width: 76px;
    height: 111px;
}

.wizard-fire {
    z-index: 100;
    position: absolute;
    background-image: url(../images/chibi_Sasuke_2.png);
    background-size: cover;
    width: 88px;
    height: 111px;
}

.fire-ball {
    position: absolute;
    width: 100px;
    height: 65px;
    background-image: url(../images/fireball-png-46730.png);
    background-size: cover;
}

.cloud {
    position: absolute;
    z-index: 0;
    width: 200px;
    height: 200px;
    background-image: url(../images/animeCloud.png);
    background-size: cover;
}

.bug {
    position: absolute;
    width: 120px;
    height: 160px;
    background-image: url(../images/Exported_chibiNaruto.png);
    background-size: cover;
}

.game-over {
    position: absolute;
    width: 50%;
    background-color: red;
    top: 100px;
    left: 25%;
    z-index: 1;
    text-align: center;
    padding: 30px;
}

.hide {
    display: none;
}


